@charset "utf-8";

ul{
  margin: 0;
  padding: 0;
  li{
    a{
      text-decoration: none;
      font-size: 20px;
      color: #fff;
    }
  }
}

html,body{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  .box{
    width: 400px;
    height: 300px;
    background: url("../image/school.jpg") no-repeat;
    background-size: contain;
  }
  .box2{
    width: 400px;
    height: 300px;
    background: url("../image2/school.png") no-repeat;
    background-size: contain;
  }
}